@mixin breakpoint($min: 0, $max: 0) {
  $type: type-of($min);
  @if $type == string {
    $class: $min;
    @if $class == xs {
      @media (max-width: 575px) {
        @content;
      }
    } @else if $class == sm {
      @media (max-width: 767px) {
        @content;
      }
    } @else if $class == md {
      @media (max-width: 991px) {
        @content;
      }
    } @else if $class == lg {
      @media (max-width: 1199px) {
        @content;
      }
    } @else if $class == sm-up {
      @media (min-width: 576px) {
        @content;
      }
    } @else if $class == md-up {
      @media (min-width: 768px) {
        @content;
      }
    } @else if $class == lg-up {
      @media (min-width: 992px) {
        @content;
      }
    } @else if $class == hlg-up {
      @media (min-width: 1200px) {
        @content;
      }
    } @else {
      @warn 'Breakpoint mixin supports: xs, sm, md, lg, mxs, msm, mmd, mlg';
    }
  } @else if $type == number {
    $query: 'all' !default;
    @if $min != 0 and $max != 0 {
      $query: '(min-width: #{$min}) and (max-width: #{$max})';
    } @else if $min != 0 and $max == 0 {
      $query: '(min-width: #{$min})';
    } @else if $min == 0 and $max != 0 {
      $query: '(max-width: #{$max})';
    }
    @media #{$query} {
      @content;
    }
  }
}

@mixin animation($animation...) {
  -o-animation: $animation;
  -moz-animation: $animation;
  -webkit-animation: $animation;
  animation: $animation;
}

@mixin animation-delay($delay...) {
  -o-animation-delay: $delay;
  -moz-animation-delay: $delay;
  -webkit-animation-delay: $delay;
  animation-delay: $delay;
}

@mixin keyframes( $animationName )
{
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}
