.navbar-item {
    margin: 0 auto;
    &__text {
        font-size: 2rem;
        font-weight: 700;
    }
    >img {
        max-height: 3rem;
    }
}

.navbar {
    margin: 3%;
    background-color: #f8f8f8;
}

a {
    &.no-hover {
        &:hover {
            color: steelblue;
        }
    }
}

.navbar-link-customize {
    color: #4a4a4a;
    line-height: 1.5;
    padding: 0.5rem 1rem;
    position: relative;
    margin: auto 0;
}