// Dank fonts
// @import 'https://fonts.googleapis.com/css?family=Karla';
/* latin-ext */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: local('Karla'), local('Karla-Regular'),
    url(https://fonts.gstatic.com/s/karla/v6/qkBbXvYC6trAT7RbLtyU5rZPoAU.woff2)
      format('woff2');
  unicode-range: U + 0100-024f, U + 0259, U + 1-1eff, U + 2020, U + 20a0-20ab,
    U + 20ad-20cf, U + 2113, U + 2c60-2c7f, U + A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: local('Karla'), local('Karla-Regular'),
    url(https://fonts.gstatic.com/s/karla/v6/qkBbXvYC6trAT7RVLtyU5rZP.woff2)
      format('woff2');
  unicode-range: U + 0000-00ff, U + 0131, U + 0152-0153, U + 02bb-02bc, U + 02c6,
    U + 02da, U + 02dc, U + 2000-206f, U + 2074, U + 20ac, U + 2122, U + 2191,
    U + 2193, U + 2212, U + 2215, U + FEFF, U + FFFD;
}
// Somewhat necessary mixin?
@mixin capsfont($size) {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: $size;
}

// Colours!
$rust: #ca8d6e;
$lunar: #383745;
$deep: #22202b;
$white: #eeeeee;
$mud: #7d6962;
$transblack: rgba(0, 0, 0, 0.3);
$green: #2ea994;

// Responsive Text Stuff
:root {
  font-size: 13px;
}
@media screen and (min-width: 1000px) {
  :root {
    font-size: 14px;
  }
}
@media screen and (min-width: 1240px) {
  :root {
    font-size: 16px;
  }
}
@media screen and (min-width: 1480px) {
  :root {
    font-size: 17px;
  }
}
// Main Styles
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font: {
    family: 'Karla';
    size: 1rem;
    weight: 300;
  }
  color: $white;
  line-height: 2em;
  background: $white;
}

// Profile Section
.main {
  padding-right: 1vh;
  padding-left: 1vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background: linear-gradient(120deg, $lunar 50%, $deep 50%);
  .header,
  legend.header {
    @include capsfont(1.25rem);
    margin: 0.5em 0;
  }
  .bio,
  .contact {
    width: 50vh;
    margin-top: 10vh;
  }
  .bio {
    .profile-img {
      // max-width: 7em;
      position: relative;
      width: 10em;
      height: 10em;
      border-radius: 50%;
      overflow: hidden;
      img {
        max-width: 100%;
        height: auto;
      }
    }
    .bio-link {
      @include capsfont(1rem);
      display: inline-block;
      // floats & clears to break lines
      float: left;
      clear: left;
      text-decoration: none;
      color: $white;
      margin-bottom: 0.25em;
      transition: color 300ms ease-in-out;
      i {
        margin-left: 8px;
      }
      &::after {
        display: block;
        content: '';
        height: 1px;
        width: 0;
        background: $rust;
        transition: width 300ms ease-in-out;
      }
      &:hover::after {
        width: 100%;
      }
      &:hover {
        color: $rust;
      }
    }
  }
  .contact {
    color: $rust;
    .skills {
      list-style: none;
      padding: 0;
      .skill {
        display: block;
        position: relative; // For positioning bar pseudo elements
        height: 60px;
        margin: 10px auto;
        width: 90%;
        &:before,
        &:after {
          content: '';
          position: absolute;
          border-radius: 20px;
          margin-top: 40px;
        }
        &:before {
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          height: 20px;
          background: $white;
        }
        &:after {
          // background-color: $deep;
          background: repeating-linear-gradient(
            -45deg,
            $lunar,
            $lunar 10px,
            lighten($lunar, 3) 10px,
            lighten($lunar, 3) 20px
          );
          height: 16px;
          top: 2px;
          right: 100%;
          bottom: 2px;
          left: 2px;
          @include animation(fill 2s both);
        }
        @for $i from 1 through 5 {
          &:nth-child(#{$i}):after {
            @include animation-delay(#{$i * 0.5}s);
          }
        }
        &[aria-label='nodejs']:after {
          right: 10%;
        }
        &[aria-label='reactjs']:after {
          right: 20%;
        }
        &[aria-label='php']:after {
          right: 10%;
        }
        &[aria-label='front']:after {
          right: 40%;
        }
        &[aria-label='database']:after {
          right: 10%;
        }
      }
    }
  }
}

// Animation stuff
.main {
  overflow: hidden;
  animation: Page 600ms ease-in-out forwards;
}

.bio {
  animation: Bio 600ms ease-in-out forwards;
}

.contact {
  animation: Contact 600ms ease-in-out forwards;
}

// Keyframes
@keyframes Page {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes Bio {
  0% {
    transform: translateX(-50vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes Contact {
  0% {
    transform: translateX(50vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes swell {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@include keyframes(fill) {
  from {
    right: 100%;
  }
}
